[Unit]
Description=Yandex Disk
After=network.target
; Requires=network.target

[Service]
ExecStart=yandex-disk start --config=/home/ru/.config/yandex-disk/config.cfg
ExecStop=yandex-disk stop
Restart=on-failure
; Restart=always
RestartSec=60
Type=forking

; OOMScoreAdjust=-1000

[Install]
WantedBy=default.target
; Alias=yandex-disk-daemon.service
; RequiredBy=
; Also=
; DefaultInstance=
